{% extends 'basic.html' %}
{% block title %}Credit management{% endblock %}
  {% block body %}
    <div class="container my-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">View All Users</h5>
              <p class="card-text">By clicking on button below you can view all users and check how many credits they have.</p>
              <a href="/credit/view" class="btn btn-primary">View</a>
            </div>
           
          </div>
          <div class="card text-center my-3">
         
            <div class="card-body">
              <h5 class="card-title">Transfer Records</h5>
              <p class="card-text">By clicking on button below you can view each and every transaction.</p>
              <a href="/credit/tr" class="btn btn-primary">View Records</a>
            </div>
            
          </div>  
    </div>

{% endblock %}


